<div class="container">
    <div class="outer-div" style="margin-top:1em; background-color: #FFF;">
        <div class="outerColor" style="padding:0.5em; border-radius: 5px; text-align: center; border-bottom: 1px solid black;">
            <span style="font-size: 1.5em; font-weight: bold;">BOX PLOT</span>
        </div>
        <div class="row" style="margin:1em;">
            <div class="col">
                <img [src]="myImgBoxPlot1" style="margin-right:0.5em;"/>
            </div>
            <div class="col">
                <img [src]="myImgBoxPlot2"/> 
            </div>         
        </div>
    </div>

    <div class="outer-div" style="margin-top:1em; background-color: #FFF;">
        <div class="outerColor" style="padding:0.5em; border-radius: 5px; text-align: center; border-bottom: 1px solid black;">
            <span style="font-size: 1.5em; font-weight: bold;">HISTOGRAM</span>
        </div>
        <div class="row" style="margin:1em;">
            <div class="col">
                <img [src]="myImgHistogram1" style="margin-right:0.5em;"/>
            </div>
            <div class="col">
                <img [src]="myImgHistogram2"/> 
            </div>         
        </div>
    </div>

    <div class="outer-div" style="margin-top:1em; background-color: #FFF;">
        <div class="outerColor" style="padding:0.5em; border-radius: 5px; text-align: center; border-bottom: 1px solid black;">
            <span style="font-size: 1.5em; font-weight: bold;">PIE CHART</span>
        </div>
        <div class="row" style="margin:1em;">
            <div class="col" style="text-align: center;">
                <img [src]="pieChart" style="margin-right:0.5em;"/>
            </div>                    
        </div>
    </div>

    <div class="outer-div" style="margin-top:1em; background-color: #FFF;">
        <div class="outerColor" style="padding:0.5em; border-radius: 5px; text-align: center; border-bottom: 1px solid black;">
            <span style="font-size: 1.5em; font-weight: bold;">SCATTER PLOT</span>
        </div>
        <div class="row" style="margin:1em;">
            <div class="col" style="text-align: center;">
                <img [src]="scatterPlot" style="margin-right:0.5em;"/>
            </div>
                   
        </div>
    </div>

    <div class="outer-div" style="margin-top:1em; background-color: #FFF;">
        <div class="outerColor" style="padding:0.5em; border-radius: 5px; text-align: center; border-bottom: 1px solid black;">
            <span style="font-size: 1.5em; font-weight: bold;">SURFACE GRAPH</span>
        </div>
        <div class="row" style="margin:1em;">
            <div class="col" style="text-align: center;">
                <img [src]="surfaceGraph" style="margin-right:0.5em;"/>
            </div>
                    
        </div>
    </div>
</div>

